[submodule "frotz"]
	path = vendor/frotz
	url = https://gitlab.com/DavidGriffith/frotz.git
[submodule "ztools"]
	path = vendor/ztools
	url = https://github.com/jeffnyman/ztools.git
[submodule "reform6"]
	path = vendor/reform6
	url = https://github.com/jeffnyman/reform6.git
[submodule "ifarchive-if-specs"]
	path = vendor/ifarchive-if-specs
	url = https://github.com/iftechfoundation/ifarchive-if-specs
[submodule "z-machine-standard"]
	path = vendor/z-machine-standard
	url = https://github.com/jeffnyman/z-machine-standard.git
[submodule "cheapglk"]
	path = vendor/cheapglk
	url = https://github.com/erkyrath/cheapglk
[submodule "glkote"]
	path = vendor/glkote
	url = https://github.com/erkyrath/glkote
[submodule "glkterm"]
	path = vendor/glkterm
	url = https://github.com/erkyrath/glkterm
[submodule "glulxe"]
	path = vendor/glulxe
	url = https://github.com/erkyrath/glulxe
[submodule "quixe"]
	path = vendor/quixe
	url = https://github.com/erkyrath/quixe
