[submodule "frotz"]
	path = frotz
	url = https://gitlab.com/DavidGriffith/frotz.git
[submodule "ztools"]
	path = ztools
	url = https://github.com/jeffnyman/ztools.git
[submodule "reform6"]
	path = reform6
	url = https://github.com/jeffnyman/reform6.git
[submodule "ifarchive-if-specs"]
	path = ifarchive-if-specs
	url = https://github.com/iftechfoundation/ifarchive-if-specs
